@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --Dark_grayish_blue: hsl(227, 10%, 46%);
    --Dark_gray: hsl(0, 0%, 59%);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.4rem;
}
img{
    max-width: 100%;
}
h2, p{margin: 0;}

.attribution { font-size: 11px; text-align: center; 
position: absolute;
bottom: 0;
padding: 2rem 0;}
.attribution a { color: white; }

.bg{
    min-height: 100vh;
    position: relative;
    background: var(--Dark_cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -3;
}
.bg_pat{
    position: absolute;
    
}
.bg_pat.top{
    top: 0;
    transform: translateY(-50%);
    left: -20rem;
    z-index: -1;
}
@media (min-width: 768px) {
    .bg_pat.top{
       left: -39rem;
    }
}
.bg_pat.bottom{
    bottom: 0;
    right: -20rem;
    margin-bottom: -50%;
    z-index: -2;
}
@media (min-width: 768px) {
    .bg_pat.bottom{
        right: -25rem;
    }  
}
.card{
    max-width: 35rem;
    background: #fff;
    border-radius: 2rem;
    overflow: hidden;
    margin: 0 3rem;
}
.bg_card{
    height: 14rem;
}
.card_content{
    position: relative;
    min-height: 20rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card_content--image{
    position: absolute;
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
    overflow: hidden;
    top: 0;
    transform: translateY(-50%);
    
    border: .6rem solid #fff;
      
    
    z-index: 100;
}
.card_title{
    padding-top: 6rem;
    text-align: center;
    
}
.card_title h2{
    color: var(--Very_dark_desaturated_blue);
    font-weight: 700;
    padding-bottom: 1rem;
}
.card_title h2 span{
    color: var(--Dark_gray);
}
.card_title p{
    padding-bottom: 2em;
    color: var(--Dark_gray);
}
.card_info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid var(--Dark_gray);
    padding: 2rem 0;
}
.info{
    text-align: center;
}
.info .count{
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--Very_dark_desaturated_blue);
}
.info .detail{
    padding-top: 1rem;
    font-size: 1rem;
    color: var(--Dark_grayish_blue);
    letter-spacing: .2rem;
}

